@{
    Layout = "~/Views/Bldgs/_BldgsIndexLayout.cshtml";
}


<h1 class="display-4 mt-3">Home Village</h1>

<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Cannon", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Cannon" src="@Url.Content("~/Images/cannon-17.png")" /></a>
        <div class="lead mt-1">Cannon</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("ArcherTower", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Archer Tower" src="@Url.Content("~/Images/archer-tower-17.png")" /></a>
        <div class="lead mt-1">Archer Tower</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Mortar", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Mortar" src="@Url.Content("~/Images/mortar-12.png")" /></a>
        <div class="lead mt-1">Mortar</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("AirDefense", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Air Defense" src="@Url.Content("~/Images/air-defense-10.png")" /></a>
        <div class="lead mt-1">Air Defense</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("WizardTower", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Wizard Tower" src="@Url.Content("~/Images/wizard-tower-11.png")" /></a>
        <div class="lead mt-1">Wizard Tower</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("AirSweeper", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Air Sweeper" src="@Url.Content("~/Images/air-sweeper-7.png")" /></a>
        <div class="lead mt-1">Air Sweeper</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("HiddenTesla", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Hidden Tesla" src="@Url.Content("~/Images/hidden-tesla-10.png")" /></a>
        <div class="lead mt-1">Hidden Tesla</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("BombTower", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Bomb Tower" src="@Url.Content("~/Images/bomb-tower-7.png")" /></a>
        <div class="lead mt-1">Bomb Tower</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("XBow", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="X-Bow" src="@Url.Content("~/Images/x-bow-6.png")" /></a>
        <div class="lead mt-1">X-Bow</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("InfernoTower", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Inferno Tower" src="@Url.Content("~/Images/inferno-tower-6.png")" /></a>
        <div class="lead mt-1">Inferno Tower</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("EagleArtillery", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Eagle Artillery" src="@Url.Content("~/Images/eagle-artillery-3.png")" /></a>
        <div class="lead mt-1">Eagle Artillery</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("GrandWardenTower", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Grand Warden" src="@Url.Content("~/Images/hero-altar-grand-warden.png")" /></a>
        <div class="lead mt-1">Grand Warden</div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center mt-4">
        <a href="@Url.Action("GigaTesla", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Giga Tesla" src="@Url.Content("~/Images/town-hall-giga-tesla-5.png")" /></a>
        <div class="lead mt-1">Giga Tesla</div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center mt-4">
        <a href="@Url.Action("Wall", "DefenseBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Wall" src="@Url.Content("~/Images/wall-13.png")" /></a>
        <div class="lead mt-1">Wall</div>
    </div>
</div>

<h1 class="display-4 mt-4">Builder Base</h1>