@{
    Layout = "~/Views/Bldgs/_BldgsIndexLayout.cshtml";
}


<h1 class="display-4 mt-3">Home Village</h1>

<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("ClanCastle", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Clan Caslte" src="@Url.Content("~/Images/clan-castle-8.png")" /></a>
        <div class="lead mt-1">Clan Castle</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("Barracks", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Barracks" src="@Url.Content("~/Images/barracks-13.png")" /></a>
        <div class="lead mt-1">Barracks</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("DarkBarracks", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Dark Barracks" src="@Url.Content("~/Images/dark-barracks-8.png")" /></a>
        <div class="lead mt-1">Dark Barracks</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("SpellFactory", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Spell Factory" src="@Url.Content("~/Images/spell-factory-5.png")" /></a>
        <div class="lead mt-1">Spell Factory</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("DarkSpellFactory", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Dark Spell Factory" src="@Url.Content("~/Images/dark-spell-factory-5.png")" /></a>
        <div class="lead mt-1">Dark Spell Factory</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("Laboratory", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Laboratory" src="@Url.Content("~/Images/laboratory-10.png")" /></a>
        <div class="lead mt-1">Laboratory</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("ArmyCamp", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Army Camp" src="@Url.Content("~/Images/army-camp-10.png")" /></a>
        <div class="lead mt-1">Army Camp</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("BarbarianKingAltar", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Barbarian King Altar" src="@Url.Content("~/Images/hero-altar-barbarian-king.png")" /></a>
        <div class="lead mt-1">Barbarian King Altar</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl text-center mt-4">
        <a href="@Url.Action("ArcherQueenAltar", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Archer Queen Altar" src="@Url.Content("~/Images/hero-altar-archer-queen.png")" /></a>
        <div class="lead mt-1">Archer Queen Altar</div>
    </div>
    <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl text-center mt-4">
        <a href="@Url.Action("Workshop", "ArmyBldgs")" class="text-dark"><img style="max-height: 160px" class="icon-large" alt="Workshop" src="@Url.Content("~/Images/workshop-3.png")" /></a>
        <div class="lead mt-1">Workshop</div>
    </div>
</div>

<h1 class="display-4 mt-4">Builder Base</h1>