@{
    Layout = "~/Views/Army/_ArmyIndexLayout.cshtml";
}


<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Lightning", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Lightning" src="@Url.Content("~/Images/spell-lightning.png")" /></a>
        <div class="lead mt-1">Lightning</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Healing", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Healing" src="@Url.Content("~/Images/spell-heal.png")" /></a>
        <div class="lead mt-1">Healing</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Rage", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Rage" src="@Url.Content("~/Images/spell-rage.png")" /></a>
        <div class="lead mt-1">Rage</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Jump", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Jump" src="@Url.Content("~/Images/spell-jump.png")" /></a>
        <div class="lead mt-1">Jump</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Freeze", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Freeze" src="@Url.Content("~/Images/spell-freeze.png")" /></a>
        <div class="lead mt-1">Freeze</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Clone", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Clone" src="@Url.Content("~/Images/spell-clone.png")" /></a>
        <div class="lead mt-1">Clone</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("Poison", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Poison" src="@Url.Content("~/Images/spell-poison.png")" /></a>
        <div class="lead mt-1">Poison</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl text-center mt-4">
        <a href="@Url.Action("Earthquake", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Earthquake" src="@Url.Content("~/Images/spell-earthquake.png")" /></a>
        <div class="lead mt-1">Earthquake</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl text-center mt-4">
        <a href="@Url.Action("Haste", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Haste" src="@Url.Content("~/Images/spell-haste.png")" /></a>
        <div class="lead mt-1">Haste</div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl text-center mt-4">
        <a href="@Url.Action("Skeleton", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Skeleton" src="@Url.Content("~/Images/spell-skeleton.png")" /></a>
        <div class="lead mt-1">Skeleton</div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl text-center mt-4">
        <a href="@Url.Action("Bat", "Spell")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Bat" src="@Url.Content("~/Images/spell-bat.png")" /></a>
        <div class="lead mt-1">Bat</div>
    </div>
</div>