@{
    Layout = "~/Views/Army/_ArmyIndexLayout.cshtml";
}


<h1 class="display-4 mt-3">Home Village</h1>

<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Barbarian", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Barbarian" src="@Url.Content("~/Images/barbarian.png")" /></a>
        <div class="lead mt-1">Barbarian</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Archer", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Archer" src="@Url.Content("~/Images/archer.png")" /></a>
        <div class="lead mt-1">Archer</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Giant", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Giant" src="@Url.Content("~/Images/giant.png")" /></a>
        <div class="lead mt-1">Giant</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Goblin", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Goblin" src="@Url.Content("~/Images/goblin.png")" /></a>
        <div class="lead mt-1">Goblin</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("WallBreaker", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Wall Breaker" src="@Url.Content("~/Images/wall-breaker.png")" /></a>
        <div class="lead mt-1">Wall Breaker</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Balloon", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Balloon" src="@Url.Content("~/Images/balloon.png")" /></a>
        <div class="lead mt-1">Balloon</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Wizard", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Wizard" src="@Url.Content("~/Images/wizard.png")" /></a>
        <div class="lead mt-1">Wizard</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Healer", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Healer" src="@Url.Content("~/Images/healer.png")" /></a>
        <div class="lead mt-1">Healer</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Dragon", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Dragon" src="@Url.Content("~/Images/dragon.png")" /></a>
        <div class="lead mt-1">Dragon</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Pekka", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Pekka" src="@Url.Content("~/Images/pekka.png")" /></a>
        <div class="lead mt-1">Pekka</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("BabyDragon", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Baby Dragon" src="@Url.Content("~/Images/baby-dragon.png")" /></a>
        <div class="lead mt-1">Baby Dragon</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Miner", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Miner" src="@Url.Content("~/Images/miner.png")" /></a>
        <div class="lead mt-1">Miner</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("ElectroDragon", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Electro Dragon" src="@Url.Content("~/Images/electro-dragon.png")" /></a>
        <div class="lead mt-1">Electro Dragon</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Minion", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Minion" src="@Url.Content("~/Images/minion.png")" /></a>
        <div class="lead mt-1">Minion</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("HogRider", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Hog Rider" src="@Url.Content("~/Images/hog-rider.png")" /></a>
        <div class="lead mt-1">Hog Rider</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Valkyrie", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Valkyrie" src="@Url.Content("~/Images/valkyrie.png")" /></a>
        <div class="lead mt-1">Valkyrie</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Golem", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Golem" src="@Url.Content("~/Images/golem.png")" /></a>
        <div class="lead mt-1">Golem</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mt-4">
        <a href="@Url.Action("Witch", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Witch" src="@Url.Content("~/Images/witch.png")" /></a>
        <div class="lead mt-1">Witch</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 text-center mt-4">
        <a href="@Url.Action("LavaHound", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Lava Hound" src="@Url.Content("~/Images/lava-hound.png")" /></a>
        <div class="lead mt-1">Lava Hound</div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 text-center mt-4">
        <a href="@Url.Action("Bowler", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Bowler" src="@Url.Content("~/Images/bowler.png")" /></a>
        <div class="lead mt-1">Bowler</div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-12 col-xl-4 text-center mt-4">
        <a href="@Url.Action("IceGolem", "Troop")" class="text-dark"><img style="max-height: 140px" class="icon-large" alt="Ice Golem" src="@Url.Content("~/Images/ice-golem.png")" /></a>
        <div class="lead mt-1">Ice Golem</div>
    </div>
</div>

<h1 class="display-4 mt-4">Builder Base</h1>